---
import Layout from '@layouts/Layout.astro';
import NavBar from '@components/NavBar.astro';
---

<Layout title="Pablo Alberto | Programador e Desemvolvedor">
    <NavBar sections={[ "Experiência", "Projetos", "Blog" ]} />

    <header>
        <h1 class="text-center">Programador y Desarrollador</h1>
    </header>
</Layout>