---
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { SvgComponent } from 'astro/types';
import MX from '@assets/icons/mx.svg';
import BR from '@assets/icons/br.svg';
import US from '@assets/icons/us.svg';

interface Translation {
    icon: SvgComponent;
    label: 'ES' | 'PT' | 'EN';
}

const translations: Array<Translation> = [
    { icon: MX, label: 'ES' },
    { icon: BR, label: 'PT' },
    { icon: US, label: 'EN' },
];
const translationsLabel = {
    ES: 'Español',
    PT: 'Português',
    EN: 'English',
};
---

<select name="language" id="language" class="outline-none text-sm md:text-base flex items-center cursor-pointer">
    <button>
        <selectedcontent></selectedcontent>
    </button>

    {
        translations.map(({ icon: Icon, label }, index)=> {
            const language = label.toLowerCase();
            const url = Astro.originPathname.split('/').slice(2).join('/');
            const localUrl = getRelativeLocaleUrl(language, url);

            return (
                <option value={ language } selected={ Astro.originPathname.includes(language) } class="py-1.5 px-2">
                    <a href={ localUrl } class="flex items-center gap-3 cursor-pointer hover:bg-gray-200/50 dark:hover:bg-gray-700/50">    
                        <Icon width="24" height="24" aria-hidden={ true } />
                        <span>{ translationsLabel[label] }</span>
                    </a>
                </option>

                <hr class:list={[
                    "w-4/5 mx-auto border-gray-400/50", 
                    {"hidden": (index === translations.length - 1)}
                ]} />
            );
        })    
    }
</select>