---
import { Picture } from 'astro:assets';
import type { SvgComponent } from 'astro/types';
import AstroIcon from '@assets/icons/astro.svg';
import SolidJSIcon from '@assets/icons/solidjs.svg';
import TailwindCSSIcon from '@assets/icons/tailwindcss.svg';
import Link from '@assets/icons/link.svg';
import Blog from '@assets/icons/blog.svg';
import Github from '@assets/icons/github.svg';

type Technology = 'Astro' | 'SolidJS' | 'TailwindCSS'; 
interface Props {
    title: string;
    pictures: { light: ImageMetadata, dark: ImageMetadata }
    technologies: Array<Technology>;
    links: {
        preview: string,
        github?: string,
        blog?: string
    };
}

const { title, pictures, technologies, links } = Astro.props;
const Icons = {
    Astro: AstroIcon,
    SolidJS: SolidJSIcon,
    TailwindCSS: TailwindCSSIcon
}
const currentLanguage = Astro.originPathname.split('/').at(1);
---

<div class="flex flex-col gap-5 md:grid md:grid-cols-2 md:items-center md:gap-10">
    <div>
        <a href={ links.preview }>
            <Picture src={ pictures.light } formats={['avif', 'webp']} alt="Captura de la web de PokemonAPI" slot="picture" class="h-56 rounded-xl object-cover md:h-72 dark:hidden shadow hover:scale-105 transition-[scale]" />
            <Picture src={ pictures.dark } formats={['avif', 'webp']} alt="Captura de la web de PokemonAPI" slot="picture" class="h-56 rounded-xl object-cover md:h-72 not-dark:hidden shadow hover:scale-105 transition-[scale]" />
        </a>
    </div>

    <div>
        <h3 class="text-2xl">{ title }</h3>
        <ul class="text-white flex gap-2 mb-3 md:mb-5">{
            technologies.map((technology)=> {
                const TechnologyIcon = Icons[technology] as SvgComponent;

                return (
                    <li class:list={["px-3 py-1 rounded-full inline-flex gap-1",
                        { "bg-purple-800": technology === "Astro" },
                        { "bg-blue-900": technology === "SolidJS" },
                        { "bg-sky-800": technology === "TailwindCSS" }
                    ]}>
                        <TechnologyIcon width="24" height="24" />
                        <span>{ technology }</span>
                    </li>
                );
            })    
        }</ul>

        <slot />

        <div class="flex gap-3">
            <a href="#" class="p-2 bg-transparent rounded-lg border-2 border-black dark:border-white inline-flex items-center gap-2 active:scale-95 transition-[scale]">
                <Link width="24" height="24" />
                <span>{ currentLanguage === 'es' ? 'Visitar' : currentLanguage === 'en' ? 'Visit' : 'Visita' }</span>
            </a>

            {
                ['blog', 'github'].map((link)=> links[link as 'blog' | 'github']
                    ? <a href="#" class="p-2 bg-transparent rounded-lg border-2 border-black dark:border-white inline-flex items-center gap-2 active:scale-95 transition-[scale]">
                        { link === 'blog' ? <Blog width="24" height="24" /> : null }
                        { link === 'github' ? <Github width="24" height="24" /> : null }
                        <span>{ link === 'blog' ? 'Blog' : 'Github' }</span>
                    </a>
                    : null
                )
            }
        </div>
    </div>
</div>