---
import { Picture } from 'astro:assets';

import Layout from '@layouts/Layout.astro';
import NavBar from '@components/NavBar.astro';
import LinksButtons from '@components/LinksButtons.astro';
import Section from '@components/Section.astro';
import ExperienceItem from '@components/ExperienceItem.astro';
import Project from '@components/Project.astro';
import Span from '@components/utilities/Span.astro';

import Profile from '@assets/profile.png';
import Download from '@assets/icons/download.svg';
import Linkedin from '@assets/icons/linkedin.svg';
import Github from '@assets/icons/github.svg';
import Briefcase from '@assets/icons/briefcase.svg';
import Right from '@assets/icons/row-right.svg';
import Code from '@assets/icons/code.svg';
import PokemonAPILight from '@assets/pokeapi-light.png';
import PokemonAPIDark from '@assets/pokeapi-dark.png';
import User from '@assets/icons/user.svg';
import AboutProfile from '@assets/about-profile.webp';
import Mail from '@assets/icons/mail.svg';
import Whatsapp from '@assets/icons/whatsapp.svg';
---

<Layout title="Pablo Alberto | Programador y Desarrollador">
    <NavBar sections={[ "Experiencia", "Proyectos", "Sobre mi", "Blog" ]} client:load />

    <header class="h-screen flex flex-col justify-center gap-5">
        <Picture src={Profile} formats={['avif', 'webp']} alt="Foto de perfil de Pablo" class="h-96 object-contain mask-b-from-75% mx-auto shadow-gray-600/60" />

        <h1>
            <span class="text-center text-4xl md:text-6xl block">Pablo Alberto</span>
            <span class="text-center text-2xl md:text-4xl block">Programador y Desarrollador</span>
        </h1>

        <div class="flex flex-wrap justify-center gap-3">
            {
                [
                    { href: '#', icon: Download, label: 'Curriculum', colors: 'text-green-700 border-green-700 shadow-green-700/60' },
                    { href: 'www.linkedin.com/in/codepi', icon: Linkedin, label: 'LinkedIn', colors: 'text-blue-700 border-blue-700 shadow-blue-700/60' },
                    { href: 'https://github.com/Pablo9034', icon: Github, label: 'GitHub', colors: '' },
                ].map(({ href, icon: Icon, label, colors })=> (
                    <LinksButtons href={ href } colors={ colors }>
                        <Icon width="24" height="24" />
                        <span>{ label }</span>
                    </LinksButtons>
                ))
            }
        </div>
    </header>

    <Section idSection="experience" icon={ Briefcase } title="Experiencia">
        <ul class="ml-6 py-5 md:py-10 flex flex-col gap-10 md:gap-y-20 border-l-2 border-gray-800">
            <ExperienceItem subtitle="Freelancer" duration="Actualmente...">
                <p class="md:first-letter:pl-5">Trabajo como <Span>freelancer</Span> en el área tecnológica, desarrollando pequeños proyectos que me han permitido adquirir experiencia práctica y fortalecer mis habilidades en la <Span>gestión de clientes y tiempos de entrega.</Span> He colaborado en <Span>soluciones a medida,</Span> adaptándome a diferentes necesidades y asegurando resultados de calidad.</p>
                <a href="#" class="md:pt-5 inline-flex text-blue-500 underline">Saber más en mi Faver <Right width="24" height="24" /></a>
            </ExperienceItem>
            
            <ExperienceItem subtitle="Estudiante Autodidacta" duration="2025 - Actualmente...">
                <p class="md:first-letter:pl-5">Con una formación construida principalmente a través de <Span>cursos online</Span> y recursos digitales, persigo mis sueños en el mundo del desarrollo. Mi enfoque ha sido aprovechar plataformas de aprendizaje para adquirir conocimientos en <Span>programación, metodologías ágiles y herramientas modernas,</Span> lo que me ha permitido desarrollar proyectos prácticos y mantenerme actualizado en un sector en constante evolución.</p>
            </ExperienceItem>

            <ExperienceItem subtitle="Estudiante Universitario" duration="2022 - Diciembre del 2024">
                <p class="md:first-letter:pl-5">Estudié <Span>Ingeniería en Ciberseguridad</Span> en la <Span>Universidad de las Ciencias Informaticas</Span> (Habana, Cuba), donde descubrí mi pasión por la programación y el desarrollo. Fui <Span>concursante destacado</Span> en competencias académicas, pero por causas desafortunadas tuve que <Span>interrumpir mi formación</Span> universitaria a finales del 2024. Aun así, nunca detube mi aprenizaje y sigo comprometido con crecer en el mundo del desarrollo.</p>
            </ExperienceItem>
        </ul>
    </Section>

    <Section idSection="projects" icon={ Code } title="Proyectos">
        <Project 
            title="PokemonAPI - Galeria estatica de Pokemones" 
            technologies={["Astro", "SolidJS", "TailwindCSS"]}
            links={{
                preview: "https://pokemon-api-lac-nu.vercel.app/pokemons/1",
                blog: "#",
                github: "https://github.com/Pablo9034/PokemonAPI"
            }}>
            <Picture src={PokemonAPILight} formats={['avif', 'webp']} alt="Captura de la web de PokemonAPI" slot="picture" class="h-56 rounded-xl object-cover md:h-72 dark:hidden shadow hover:scale-105 transition-[scale]" />
            <Picture src={PokemonAPIDark} formats={['avif', 'webp']} alt="Captura de la web de PokemonAPI" slot="picture" class="h-56 rounded-xl object-cover md:h-72 not-dark:hidden shadow hover:scale-105 transition-[scale]" />

            <p class="mb-5 first-letter:pl-5">Este proyecto utiliza la PokeAPI para construir una galería interactiva que muestra a los Pokémon de la primera generación.</p>
        </Project>
    </Section>

    <Section idSection="about_me" icon={ User } title="Sobre mí">
        <div class="flex flex-col-reverse items-center gap-5 md:grid md:grid-cols-2 md:gap-20">
            <div>
                <p class="mb-5 first-letter:pl-5">Soy <Span>Pablo Alberto, desarrollador web de origen cubano</Span>, actualmente viviendo en <Span>Santa Catarina, Brasil.</Span> Con <Span>21 años</Span>, me apasiona crear experiencias digitales innovadoras y funcionales.</p>
                <p class="mb-5 first-letter:pl-5">Tengo conocimientos en <Span>HTML, CSS, JavaScript</Span> y frameworks modernos, y me considero una persona muy creativa y orientada a resolver problemas. He trabajado en proyectos personales y colaborativos que reflejan mi estilo: <Span>diseño limpio, código eficiente y enfoque en la experiencia del usuario.</Span></p>
                <p class="mb-5 first-letter:pl-5">Cuando no estoy programando, disfruto explorar nuevas tendencias tecnológicas, aprender sobre diseño y compartir ideas creativas. Si buscas un desarrollador con <Span>energía, visión y pasión por la innovación,</Span> ¡me encantaría colaborar contigo!</p>
            </div>

            <Picture src={ AboutProfile } formats={['avif', 'webp']} alt="Foto de perfil de Pablo" class="object-cover w-64 p-1 rotate-3 aspect-square rounded-2xl bg-blue-500/60 backdrop-blur-md shadow" />
        </div>
    </Section>

    <footer class="pb-16">
        <div class="mb-8 md:mb-5">
            <h2 class="mb-3 text-center">Contacto</h2>

            <ul class="flex flex-col items-center gap-10 md:gap-5">
                <li class="inline-flex"><Mail /> Mail: <a href="#" class="inline-flex text-blue-500 underline">pa0403.pablo@gmail.com</a></li>
                <li class="inline-flex"><Whatsapp /> Whatsapp: <a href="#" class="inline-flex text-blue-500 underline">+55 (48) 9 9113-0403</a></li>
            </ul>
        </div>

        <p class="text-center">2025 creado por Pablo A.</p>
    </footer>
</Layout>